div img {
  width: 100%;
  border-radius: 20px;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

.all {
  margin: 2%;
  padding: 2%;
}
.h1 {
  margin: 5%;
  padding-right: 50%;
  font-size: 50px;
  width: 75%;
}
.p1 {
  margin-left: 6%;
  height: 20%;
  color: gray;
  font-size: 20px;
}
.right-content {
  width: 31%;
  float: right;
  padding-right: 7%;
  margin: 5%;
}

.left-content {
  margin-top: 2%;
  width: 47%;
  float: left;
}
.btn1 {
  background-color: black;
  border-radius: 5px;
  width: 25%;
  padding: 2%;
  margin-left: 6%;
  color: white;
  text-align: center;
}
.btn2 {
  border-radius: 5px;
  border: gray;
  width: 25%;
  padding: 2%;
  margin: 2%;
  text-align: center;
}
.clear {
  clear: both;
}


.head-content {
  text-align: center;
}

.card-1 {
  background-color: lightcyan;
  border-radius: 5%;
  width: 25%;
  text-align: center;
  float: left;
  margin: 4%;
}
.square {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  padding-left:20px;
  padding-top:20px;
  margin: 0 auto;
  background-color: blue;
}
.white-square{
  display:block;
  border-radius: 12px;
  width:30px;
  height: 30px;
  background-color: white;
}
.card-2 {
  background-color: palegreen;
  border-radius: 5%;
  width: 25%;
  height: 25%;
  padding-top: 10%;
  text-align: center;
  margin: 4%;
  float: left;
}
.card-3 {
  background-color: thistle;
  border-radius: 5%;
  width: 25%;
  height: 25%;
  padding-top: 10%;
  text-align: center;
  float: left;
  margin: 4%;
}

.image {
  width: 40%;
  text-align: left;
  margin: 5%;
  float: left;
}
.body {
  float: right;
  width: 40%;
  padding: 4%;
}

.border1 {
  border-left: 5px black solid;
}

.border-1{
  margin-left: 5%;
}

.border2 {
  border-left: 5px black solid;
}

.border-2{
  margin-left: 5%;
}

.border3 {
  border-left: 5px black solid;
}

.border-3{
  margin-left: 5%;
}


.clear {
  clear: both;
}

.What-Our-Members-Say {
  background-color: ghostwhite;
}
.topic-content-3 {
  text-align: center;
  padding: 6%;
}
.reviews {
  margin-left: 10%;
}

.review-info {
  float: right;
  text-align: left;
  width: 70%;
}

.review-1 {
  width: 20%;
  padding: 5%;
  border-radius: 20px;
  float: left;
}
.review-person-1 {
  padding: 2%;
  height: 18%;
}

.card-content {
  width: 30%;
  float: left;
}
.card-topic {
  width: 90%;
  background-color: lightskyblue;
  margin: 2%;
  border-radius: 10px;
}

.review-2 {
  width: 20%;
  padding: 5%;
  border-radius: 10px;
  float: left;
}
.card-topic-2 {
  width: 90%;
  background-color: palegreen;
  margin: 2%;
  border-radius: 10px;
}
.review-person-2 {
  padding: 3%;
  height: 17%;
}
.card-content-2 {
  width: 30%;
  float: left;
}

.review-3 {
  width: 20%;
  padding: 5%;
  border-radius: 10px;
  float: left;
}
.card-topic-3 {
  width: 90%;
  background-color: thistle;
  margin: 2%;
  border-radius: 10px;
}

.card-content-3 {
  width: 30%;
  float: left;
}

.review-person-3 {
  padding: 3%;
  height: 17%;
}

.statictics {
  background-color: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 10px;
  width: 70%;
  margin: auto;
}

.information {
  margin: 2%;
  height: 15%;
}
.info-for-static {
  float: left;
  text-align: center;
  margin-left: 5%;
}
.info-statitics-2 {
  float: left;
  text-align: center;
  margin-left: 15%;
}
.info-statitics-3 {
  float: left;
  text-align: center;
  margin-left: 15%;
}
.info-statitics-4 {
  float: left;
  text-align: center;
  margin-left: 15%;
}

.membership-form {
  width: 80%;
  margin: auto;
  text-align: left;
}
.top {
  text-align: center;
  padding: 3%;
}
form {
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2%;
  width: 100%;
}
.form-group {
  margin: 2%;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: gainsboro;
  height: 10%;
}

.first-name-d {
  margin-right: 5%;
  float: left;
  width: 45%;
}

.last-name {
  float: left;
  width: 45%;
}

.Email {
  margin: 2%;
  width: 90%;
}

.Phone {
  margin: 2%;
  width: 90%;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: gainsboro;
  height: 10%;
}
.Membership-Type {
  margin: 2%;
  width: 90%;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: gainsboro;
  height: 10%;
}
.Goals {
  margin: 2%;
  width: 90%;
}

.enter {
  text-align: center;
}
.button {
  background-color: black;
  border-radius: 5px;
  width: 90%;
  height: 10%;
  margin-right: 5%;
  color: white;
  text-align: center;
  size: 5%;
  font-size: 25px;
}

/* foooooteeeer */

.footer {
  background-color: midnightblue;
  color: white;
}
.all-footer {
  padding: 4%;
}

.all-footer p,
a,
li {
  color: gray;
}

.lift-cont {
  text-align: left;
  width: 40%;
  float: left;
}



.links a {
  text-decoration: none;
  margin-right: 3%;
}

.Quick-Links {
  float: left;
  width: 30%;
}
.Quick-Links li {
  list-style: none;
}

.Contact-Info {
  float: left;
  width: 30%;
}
.quick {
  margin-left: 10%;
}


.verifi {
  text-align: left;
  float: left;
  width: 25%;
}

.more-info {
  text-align: right;
  width: 100%;
}

.links-info li {
  display: inline-block;
  width: 10%;
  margin-top: 1%;
}

.links-info a{
  text-decoration: none;
}